header {
    font-size: 3em;
    margin: 0px;
    vertical-align: middle;
    background-color: #6441a5;
    color: white;
}

header img {
    width: 300px;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #6441a5;
    color: #bb96ff;
    font-size: 1.2em;
}

footer i.icon {
    font-size: 1.5em;
    vertical-align: bottom;
}

footer a {
    color: #bb96ff;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

input {
    font-size: 1em;
    height: 2.2em;
    margin: 0px 4px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #6441a5;
    color: black;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

div.twitch-app.container {
    padding-left: 0px;
    padding-right: 0px;
}

a {
    /* twitch's purple */
    color: #6441a5;
}

a:hover {
    text-decoration: underline;
    color: #6441a5;
}

.channel button {
    font-size: 1.2em;
}

button.btn-clear {
    border: none;
    background: none;
    color: #6441a5; 
    vertical-align: middle;
}

button.btn-clear:hover {
    color: black;
}

.btn-channel: {
    font-size: 1.5em;
}

button#btn-add {
    font-size: 2em;
}



label {
    font-weight: normal;
    /* I _think_ this aligns it with the text in the input-field: */
    vertical-align: text-top;
}


div#add-channel-comp {
    color: #6441a5;
    margin-bottom: 2em;
    background-color: #bb96ff;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}

.fullwidth {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.channel {
    padding: 16px 16px;
}

.channel-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}


.channel-list-item {
    margin-bottom: 20px;
}

.channel-list-item .channel {
    cursor: grab;
    background-color: white;
    border: 1px solid #ddd;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
}
    
.channel-list-item:nth-child(odd) .channel {
    border: 1px solid transparent;
    background-color: #ded7ea;
}

.channel-list-item .channel.live {
    border: 1px solid #6441a5;
}

.channel-name {
    font-size: 1.5em;
    vertical-align: middle;
}


.channel-status {
    margin: 12px;
    margin-top: 0;
    font-size: 1.2em;
    font-style: italic;
}

img.channel-preview {
    max-width: 100%;
    height: auto;
}

a.channel-name-link {
    color: black;
}


.channel-streaming {
    margin-left: 20px;
    padding: 0px 6px;
    font-size: small;
    color: #999;
    vertical-align: middle;
    border: 1px #999 dashed;
}

.channel-streaming.live {
    color: white;
    background-color: #6441a5;
    border-color: transparent;
    font-weight: bold;

}

.channel-footer {
    margin-top: 8px;
}


.profile-pic {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.loader {
    animation: 1s  linear 0s infinite loader-rotate;
}

@keyframes loader-rotate {
    from { transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}
